body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff; /* Changed to white background */
    margin: 0;
    padding: 0;
}
title {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 30px; /* Increased gap between images */
    margin-top: 20px;
}

.template {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ddd; /* Border around images */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.template-img {
    width: 100%; /* Allow images to fill their container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
}

.template-img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}